@charset "UTF-8";
@font-face {
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
     /* . box-sizing:
            default: content-box (콘텐츠영역에 폭과높이를 적용)
            프로퍼티에 border-box를 적용하면 
            콘텐츠 영역, padding, border가 포함된 영역을 
            width / height 프로퍼티의 대상으로 지정할 수 있다 */
   
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

/** mbtiMain */
#wrap{
	width: 100%;
	height: 80vh;
	position: relative;
}

#mbti-title-box {
	text-align: center;
}

#mbti-title {
	font-size: 22px;
	font-family: 'RixYeoljeongdo_Regular';
	color: black;
}

#mbti-content {
	font-family: 'NanumSquareNeo-Variable';
	text-align: center;
	color: black;
}

#mbti-start-button {
	font-family: 'NanumSquareNeo-Variable';
}


/** mbtiQuestion */
#wrap2 {
	width:100%;
	height:80vh;
	margin: auto;
}

.survey-box {
	width:50%;
	height:100%;
	background-color: white;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.scroll-box {
	width: 70%;
	height: 25px;
	border: black solid 2.5px;
	position: relative;
	overflow: hidden;
}

.scroll-line {
	height: 25px;
	background: #F56A6A;
	width: 0%;
	position: absolute;
}

.question-box {
	font-family: 'NanumSquareNeo-Variable';
	height: 20%;
	width: 90%;
	font-size: 18px;
	font-weight:bold;
	margin-top: 10%;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	word-break:break-all;
}

.answer-box {
	height: 40%;
	width:100%;
	font-size: 16px;
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.answer-button {
	font-family: 'NanumSquareNeo-Variable';
	height: 100px;
	width: 80%;
	background: white;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 20px;
	border: solid 3px #F56A6A;
	font-size: 14px;
	overflow:hiddlen; 
	word-break:break-all;
}

.answer-button:hover {
	background-color: rgba(245, 106, 106, 0.5);
}

.answer-back-button {
	background-color: lightgrey;
	font-family: 'NanumSquareNeo-Variable';
	border: solid 2px #F56A6A;
	border-radius: 20px;
	margin-top: 5%;
	width: 20%;
	height: 60px;
	display: flex;
	align-items:center;
	justify-content: center;
	
}

.answer-back-button:hover {
	background: white;
	border: solid 2px #F56A6A;
	border-radius: 20px;
	color: #F56A6A;
}

/** mbtiResult */
#wrap3 {
	width:100%;
	height:80vh;
	margin: auto;
}

.mbti-res-title {
	width: 40%;
	height: 100px;
	margin-top: 4%;
	font-family: 'RixYeoljeongdo_Regular';
	font-size: 18px;
	color: black;
	text-align: center;
}

#mbti-type {
	width: 40%;
	height: 100px;
	font-family: 'RixYeoljeongdo_Regular';
	font-size: 26px;
	color: black;
	text-align: center;
	margin-bottom: 5%;
}

.mbti-res-box {
	width: 90%;
	height: 80%;
	font-family: 'NanumSquareNeo-Variable';
	color: black;
	font-size: 14px;
}

.mbti-res {
	font-family: 'NanumSquareNeo-Variable';
	color: black;
	font-size: 18px;
}

#mbti-restart {
	font-family: 'NanumSquareNeo-Variable';
}

