<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smt.mapper.MemberMapper">
	<insert id="memberJoin" parameterType="Member">
		<selectKey keyProperty="idx" resultType="_int"
			order="BEFORE">
			select member_seq.nextval from dual
		</selectKey>
		insert into member
		values(#{idx},#{userid},#{userpwd},#{name},#{bday},#{hp1},#{hp2},#{hp3}
		,#{nick_name},#{mbti_type:VARCHAR},#{pimage:VARCHAR},SYSDATE,0)
	</insert>
</mapper>