<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smt.mapper.ReplyMapper">
	
	<!-- 댓글 목록 가져오기 -->
	<select id="selectReply" resultType="Reply" parameterType="_int">
		select * from reply where bno=#{bno}
	</select>
</mapper>