<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smt.mapper.BoardMapper">
	
	<!-- 게시글 쓰기 -->
	<insert id="insertBoard" parameterType="Board">
		<selectKey keyProperty="bno" resultType="_int" order="BEFORE">
			select board_seq.nextval from dual
		</selectKey>
		insert into board(bno,idx,title,content,wdate,readnum,filename,origin_filename,filesize)
		values(#{bno},#{idx},#{title},#{content:VARCHAR},SYSDATE,0, #{filename:VARCHAR},#{origin_filename:VARCHAR},
		#{filesize:NUMERIC})
	</insert>
	
	<!-- 게시글 목록 가져오기 -->
	<select id="selectBoardAll2" resultType="Board">
		select * from board order by bno desc
	</select>
	
	<!-- 글 상세페이지 관련 -->
	<!-- 조회수 -->
	<update id="updateReadnum" parameterType="_int">
		update board set readnum=readnum+1 where bno=#{value}
	</update>
	
	<!-- 해당 글번호의 게시글 가져오기 -->
	<select id="selectBoardByBno" resultType="Board" parameterType="_int">
		select * from board where bno=#{value}
	</select>
	<!-- ===================== -->
	
	<!-- 글 삭제 -->
	<delete id="deleteBoard" parameterType="_int">
		delete from board where bno=#{value}
	</delete>

	<!-- 글 수정 -->
	<update id="updateBoard" parameterType="Board">
		update board set title=#{title}, content=#{content:VARCHAR}
		<if test="filename != null and filename != ''">
		, filename=#{filename}, filesize=#{filesize}, origin_filename=#{origin_filename}
		</if>
		<where>
			bno=#{bno}
		</where>
	</update>

	<!-- 검색시 사용할 where절을 findWhere라는 id로 등록 -->
	<sql id="findWhere">
		<if test="findType != null and findKeyword != ''">
			<where>
				<if test='findType=="t"'> <!-- 글 제목 -->
					title like '%' || #{findKeyword} || '%'
				</if>
				<if test='findType=="c"'> <!-- 글내용 -->
					content like '%'||#{findKeyword}||'%'
				</if>
				<if test='findType=="w"'> <!-- 작성자 -->
					<!-- idx like '%'||#{findKeyword}||'%' -->
					idx IN (SELECT idx FROM member WHERE nick_name LIKE '%'||#{findKeyword}||'%')
				</if>
				<if test='findType=="m"'> <!-- MBTI -->
					idx IN (SELECT idx FROM member WHERE mbti_type LIKE '%'||#{findKeyword}||'%')
				</if>
			</where>
		</if>
	</sql>
	
	
	<!-- 전체 게시글 수 -->
	<select id="getTotalCount" resultType="_int" parameterType="map">
		select count(bno) from board
		<include refid="findWhere"/>
	</select>
	
	<!-- 페이지 처리한 게시글 목록 -->
	<select id="selectBoardAll" resultType="Board" parameterType="map">
		select * from (
		select row_number() over(order by bno desc) rn, board.* 
		from board
		<include refid="findWhere"/>
		)
		<![CDATA[
		where rn > #{start} and rn < #{end}
		]]>
	</select>
	
	<!-- 회원번호(idx)로 닉네임, mbti 가져오기 -->
	<select id="getInfoByMemberIdx" parameterType="int" resultType="Board">
    	SELECT nick_name, mbti_type FROM member WHERE idx = #{idx}
	</select>
</mapper>